{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "header" }}
{{ partial "heading.html" . }}
{{ end }}

{{ define "main" }}
<main class="-mt-[3px]">
    {{ if (gt (len .Content) 0) }}
    <section class="mb-12 content">
        {{ if (isset .Params "gif") }}
        <div class="portfolio-preview">
            {{ $gif := resources.Get (printf "gifs/%s" .Params.gif) }}
            <img class="portfolio-gif" src="{{ $gif.RelPermalink }}" alt="Preview of {{ .Title }}">
            {{ .Content }}
        </div>
        {{ else }}
        {{ .Content }}
        {{ end }}
    </section>
    {{ end }}
    <section>
        {{ if (not (eq ($.Param "grouping") nil)) }}
        {{ range .Pages.GroupByParam ($.Param "grouping") }}
        {{ partial "list-group.html" . }}
        {{ end }}
        {{ else }}
        {{ range .Pages.GroupByDate "Jan ’06" }}
        {{ partial "list-group.html" . }}
        {{ end }}
        {{ end }}
    </section>
</main>
{{ end }}